# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Env
venv/
env/
ENV/
.env
.venv

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Project specific
data/
runs/*
!runs/**/
!runs/**/*.json
*.pt
Miniconda3-latest-Linux-x86_64.sh
*.tar.gz

conventions.md 
paper.tex

/docs

/scripts/task4

/scripts/task2
/scripts/task3

/runs/task2
/runs/task3
/runs/task4

figs/task2
figs/task3
figs/task4

/results
README.md